//@import '~antd/dist/antd.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@primary-color: #0b9585;

.bootstrap {
  //height: 100vh;

  .main {
    width: 70%;
    margin: 0 auto;
    min-height: calc(100vh - 60px - 100px);
    //height: calc(100vh - 60px - 100px);
    //overflow: auto;
  }
}

//body,#root{
//  height: 100vh;
//  overflow: hidden;
//}
